body{
  overflow-x: hidden;
}

h1, button {
  font-family: "STIX Two Text", serif;
  font-optical-sizing: auto;
  font-style:oblique;
}



p {
  font-family: "Sansita Swashed", system-ui;
  font-optical-sizing: auto;
  font-style: normal;
}


section button{
   
    font-family: "STIX Two Text", serif;
}
